@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ownglyph_meetme-Rg';
}

#app {
    position: relative;
    width: 393px;
    height: 852px;
    margin: 0 auto;
}

#app>#navbar {
    width: 393px;
    height: 8%;
}

#app>#navbar>#nav1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 3px;
}

#app>#navbar>#nav2 {
    position: absolute;
    right: 0;
    width: 45px;
    height: 50px;
    margin: 5px;
    padding-top: 15px;
}

.nav2_menu{
    position: relative;
    display: inline-block;
}

.nav2_submenu{
    display: none;
    position: absolute;
    z-index: 1;
}

.nav2_submenu a{
    display: block;
}

.nav2_menu:checked~a{
    display: block;
    position: absolute;
}

#app>#basic {
    overflow: hidden;
    width: 393px;
    height: 8%;
}

#app>#basic>#spend>button {
    border: rgb(235, 235, 235);
    font-size: 25px;
    width: 80px;
    border-radius: 10px 0 0 10px;
    padding: 5px;
    margin-left: 120px;
    margin-top: 3%;
    float: left;
}

#app>#basic>#spend>button:focus {
    background-color: lightcoral;
    color: white;
}

#app>#basic>#income>button {
    background-color: rgb(235, 235, 235);
    border: rgb(235, 235, 235);
    text-align: center;
    float: left;
    font-size: 25px;
    width: 80px;
    border-radius: 0 10px 10px 0;
    padding: 5px;
    margin-right: 100px;
    margin-top: 3%;
}

#app>#basic>#income>button:focus {
    background-color: lightcoral;
    color: white;
}

/* #app>#basic>#income {
    background-color: rgb(235, 235, 235);
    color: rgb(150, 140, 140);
    text-align: center;
    float: left;
    font-size: 25px;
    width: 80px;
    border-radius: 0 10px 10px 0;
    padding: 5px;
    border: gray;
    margin-right: 100px;
    margin-top: 3%;
} */

#app>#header {
    width: 393px;
    height: 8%;
    clear: both;
}

#app>#header {
    overflow: hidden;
}

#app>#header>div {
    float: left;
}

#app>#header>#left {
    float: left;
    margin-left: 120px;
    margin-top: 5%;
}

/* #app>#header>#left>img {
    width: 25px;
    height: 25px;
} */

#app>#header>#right {
    float: right;
    margin-right: 110px;
    margin-top: 5%;
}

/* #app>#header>#right>img {
    width: 25px;
    height: 25px;
} */

input[type="month"] {
    border: 0;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    margin-top: 20%;
    margin-left: 15px;
}

#app>#content {
    overflow: hidden;
}

#app>#content>#month_data {
    text-align: center;
    margin: 20px 0;
}

#app>#content>#month_detail {
    width: 393px;
    height: 36%;

}

#app>#content>#month_detail>ul {
    list-style-type: none;
}

#app>#content>#month_detail>span {
    margin: 1px 3px 0 0;
    font-size: 15px;
}

#app>#content>#month_detail>span:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.detail_one:before {
    background: rgb(122, 194, 101);
}

.detail_two:before {
    background: rgb(92, 91, 150);
}

.detail_three:before {
    background: rgb(189, 186, 186);
}

.detail_four:before {
    background: rgb(250, 242, 166);
}

.detail_five:before {
    background: rgb(245, 220, 220);
}

.detail_six:before {
    background: rgb(130, 207, 218);
}

#app>#footer {
    margin: 20px 0;
    width: 393px;
    height: 45%;
    background-color: rgb(235, 235, 235);
    padding-top: 5px;
}

#app>#footer>div {
    margin: 5px 0;
}

#app>#footer>#one {
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 390px;
    height: 50px;
    margin: 2px;
}

#app>#footer>#one>img {
    width: 50px;
    height: 50px;
    padding: 5px;
    float: left;
}

#app>#footer>#two {
    background-color: white;
    border-radius: 10px;
    width: 390px;
    height: 50px;
}

#app>#footer>#two>img {
    width: 50px;
    height: 50px;
    padding: 5px;
    float: left;
}

#app>#footer>#three {
    background-color: white;
    border-radius: 10px;
    width: 390px;
    height: 50px;
}

#app>#footer>#three>img {
    width: 50px;
    height: 50px;
    padding: 5px;
    float: left;
}

#app>#footer>#four {
    background-color: white;
    border-radius: 10px;
    width: 390px;
    height: 50px;
}

#app>#footer>#four>img {
    width: 50px;
    height: 50px;
    padding: 5px;
    float: left;
}

#app>#footer>#five {
    background-color: white;
    border-radius: 10px;
    width: 390px;
    height: 50px;
}

#app>#footer>#five>img {
    width: 50px;
    height: 50px;
    padding: 5px;
    float: left;
}

#app>#footer>#six {
    background-color: white;
    border-radius: 10px;
    width: 390px;
    height: 50px;
}

#app>#footer>#six>img {
    width: 50px;
    height: 50px;
    padding: 5px;
    float: left;
}