.searchContainer{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.searchInput {
    width: 180px;
}

.content{
    padding:20px;
    &>div{
        margin-bottom:1rem;
    }
}